{% extends 'base.html' %}

{% block content %}
<h1 class="text-light">Endless Quiz Web</h1>
<p class="text-light">you reached the end... ironic</p>
<p class="text-light">Your score is {{ score }} out of {{ total_questions }}</p>
<div id="apexChart" style="width: 300px;"></div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  const options = {
    series: [{{ score }}, {{ total_questions }} - {{ score }}],
    chart: {
      type: 'pie',
      width: 300,
      background: 'transparent'
    },
    labels: ['Correct', 'Incorrect'],
    colors: ['#28a745', '#dc3545'],
    title: {
      text: 'Quiz Results',
      align: 'center'
    },
    theme: {
      mode: 'dark', // or 'light'
    },
    legend: {
      position: 'bottom',
      horizontalAlign: 'center'
    }
  };

  const chart = new ApexCharts(document.querySelector("#apexChart"), options);
  chart.render();
});
</script>


<form method="post" action="{% url 'restart' %}">
    {% csrf_token %}
    <button type="submit" name="restart" value="true" class="btn mid-dark rounded shadow">Restart</button>
</form>
{% endblock %}