{% extends "quizapp/base.html" %}

{% block header %}
    <header class="mid-dark shadow rounded-4 text-white text-center py-3 m-3">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
                <a href="{% url 'startpage' %}">
                    <button type="button" class="btn btn-dark rounded shadow ms-3">Home</button>
                </a>
                <form method="post" action="{% url 'restart' %}">
                    {% csrf_token %}
                    <button type="submit" name="restart" value="true" class="btn btn-dark rounded shadow me-3 ms-3">Restart</button>
                </form>
                <a href="{% url 'stats' %}">
                    <button type="button" class="btn btn-dark rounded shadow me-3">Stats</button>
                </a>
            </div>
            <h3 class="position-absolute start-50 translate-middle-x">Endless Quiz</h3>
        </div>
    </header>
{% endblock %}