{% extends 'base.html' %}

{% block content %}
<h4>Endless Quiz Web</h4>
<div class="container" style="max-width: 70%;">
	<h2 class="question-text-size">{{ question.question_text }}</h2>
</div>
<form method="post" action="{% url 'checkAnswer' %}">
	{% csrf_token %}
	<div>
		<button type="submit" name="option" value="option1" class="btn mid-dark rounded-4 shadow fixed-button-size m-2">{{ question.option1 }}</button>
		<button type="submit" name="option" value="option2" class="btn mid-dark rounded-4 shadow fixed-button-size m-2">{{ question.option2 }}</button>
	</div>
	<div>
		<button type="submit" name="option" value="option3" class="btn mid-dark rounded-4 shadow fixed-button-size m-2">{{ question.option3 }}</button>
		<button type="submit" name="option" value="option4" class="btn mid-dark rounded-4 shadow fixed-button-size m-2">{{ question.option4 }}</button>
	</div>
</form>
<h3>Score: {{ score }}</h3>
{% endblock %}