{% extends "quizapp/base.html" %}

{% block header %}
    {% include "quizapp/header.html" %}
{% endblock %}

{% block content %}
<div class="container" >
    <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-md-8 text-center">
            <h1>Stats</h1>
            <h3>Questions answered: {{ questions_answered }}</h3>
            <h3>Questions correct: {{ questions_correct }}</h3>
            <h3>Questions incorrect: {{ questions_incorrect }}</h3>
            <h3>Accuracy: {{ accuracy }}%</h3>
        </div>
    </div>
</div>
{% endblock %}